* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background: url('../img/bodyBG.png') center;
  background-size: contain;
}

p {
  color: #ffffff;
}

h1 {
  margin: 0;
  color: #ffffff;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}

.container {
  flex: 1;
}

.content {
  width: 100vw;
  height: 100%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, .6);
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-center {
  text-align: center;
}

/*footer*/
footer {
  font-weight: 700px;
  width: 100%;
  flex-shrink: 0;
  padding: 12px;
  margin-top: auto;
  background-color: rgba(0, 0, 0, .6);
  color: rgb(255, 255, 255)
}

.links {
  margin-top: 10px;
}

.links a {
  display: inline-flex;
  justify-content: center;
  text-decoration: none;
  margin-left: 10px;
  position: relative;
  color: rgb(255, 255, 255);
}

.links a::before {
  content: "";
  position: absolute;
  bottom: -5px;
  height: 5px;
  width: 0%;
  border-radius: 5px;
  background-color: #23912c;
  transition: all 0.3s ease;
}

.links a:hover {
  color: #888585;
}

.links a:hover::before {
  width: 100%;
  transform-origin: center;
}

.links a img {
  margin-right: 4px;
}


@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}