.pokemonDetail .pokemon{
  max-width: 600px;
  margin: 0 auto;
  background-image: url('../img/poke_bg.svg');
  background-size: 140px;
  background-repeat: no-repeat;
  background-position: right;
}

.pokemonDetail .pokemon:hover{
  transform: none;
}
.pokemonDetail .detail{
  flex-direction: column;
}
.pokemonDetail .identification{
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.pokemonDetail .pokemon .name{
  font-size: 1.625rem;
}
.pokemonDetail .pokemon .number{
  font-size: .825rem;
}
.pokemonDetail .types{
  display: flex;
  align-self: flex-start;
}
.pokemonDetail .pokemon .types .type{
   margin: .25rem 5px 0 0;
}
.pokemonDetail .detail img{
  height: 110px;
  transform: scale(-1, 1);
}
.menu{
  width: 100%;
}
.menu ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.menu li{
  margin: 5px 10px 
}
.menu li a{
  text-decoration: none;
  color: #5b5858;
  font-size: 1.1rem;
}
.menu li a.active{
  color: #000000;
}
.menu li a:hover{
  color: #000000;
}
table{
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

td, th{
  padding: 6px 0px;
  text-align: left;
}
td img{
  height: 25px;
}
tr td:first-child{
  color: #5b5858;
}